@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    margin: 0;
    min-height: 100%;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
  }

  ul, li {
    list-style-type: none;
    padding: 0;
  }

  .page-header {
    padding-top: 10px;
    padding-left: 60px;
    background: linear-gradient(0deg, rgba(255,225,127,1) 90%, rgba(255,255,255,1) 90%);          
  }


  
  .navigation {
    font-family: "Rubik";
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    margin-left: 60px;
    margin-right: 60px;

  }

   .navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
   }
    
   .navigation-item {
      display: flex;
      margin-right: 60px;
      margin-top: 30px;
      margin-bottom: 30px;
      
    }
    .navigation-item:nth-child(2){
      margin-right: auto;
     }
 
     .image-icons {
      position: relative;
      margin-right: 13px;
      z-index: 0;
     
     }
     
  .navigation-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    text-decoration: none; 
  }

   .navigation-item input[type=search] {
    display: flex;
    flex-direction: row;
    width: 360px;
    height: 40px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    border: 2px solid #000000;
    border-radius: 50px 0px 0px 50px;
 } 



    .search-icon{
     background: url("../images/search.svg") no-repeat ;
     background-position: 5% 50%;
     outline: 0 !important;
  }
    
    ::placeholder {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }
      .basket {
      background-color: #ffffff;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      position: relative;
      left: 6px;
      z-index: 1;
      

      }

      .basket-count {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
      }


    .form-button {
      display: flex;
      flex-direction: row;
      width: 160px;
      height: 40px;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      border: 2px solid #000000;
      border-left: none;
      border-radius: 0px 50px 50px 0px;
      background-color: #FFE17F;
      cursor: pointer;
    }

    
    .navigation-catalog {
      display: flex;
      margin: 0;
      padding: 0;
    }

     .catalog-item {
      margin-right: 50px;
     }

    .catalog-link {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #000000;
      text-decoration: none; 
    } 

    .catalog-item:nth-child(1) {
      margin-right: auto;
    }
      
    .sub-menu-list {
      display: none;
      margin: 0;
      padding: 0;
      margin-top: 30px;
    
    }

    

    .botton-item:focus ~ .sub-menu-list, 
    .botton-item:active ~ .sub-menu-list, 
    .sub-menu:hover 
    { 
   display: flex; 
    } 
      
    .botton-item {
    position: relative;
    appearance: none;
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    background: none;
    opacity: 0.3;
    }

    .botton-item::after,
    .botton-item::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     height: 2px;
     background-color: #000000;
     transform: translate(-50%);
    }

     .bottom-.botton-item::before {
      transform: translate(-50%) rotate(90deg);
     }


    .sub-menu-link {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #000000;
      text-decoration: none; 
      margin-right: 50px;
    }

    .sub-sub-menu-item {
      margin-top: 10px;
      margin-bottom: 10px;
    }

   .sub-sub-menu-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: none; 
    
   }

    .main-container {
      flex-grow: 1;
  }
  
  .slider-block {

  }

  .page-catalog {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;

  }
  .main-box{
    background: linear-gradient(0deg, rgba(255,255,255,1) 85%, rgba(255,225,127,1) 83%);
  }

  .slider-title {
    font-family: "Raleway";
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    font-weight: 800;
  }

  .slider-description {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }


  .table-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
  }

  .table-description {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    background-color: #ffffff;
  }


  .advantages-list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
  
  }

  .delivery-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
  }

   .contacts-block {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
   }

  .about-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #ffffff;
  }

  .contact-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #ffffff;
  }


  .about-list {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
  }

  .contact-subtitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
  }

  .subscription-index {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
   }



  .subscription-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #ffffff;

  }


  .more-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #ffffff;
    
  }

  .more-box {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }


  .catalog-button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
  }

  .catalog-menu-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    
  }

   .page-footer {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color:#ffffff;
   background-color: #444444;
}


   .footer-list {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color:#ffffff;
   background-color: #444444;
}

    .filtet-color-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    }

    .filtet-color {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
   background-color: #ffffff;
}

   
   .filtet-bluetooth-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
   }

  .filtet-bluetooth {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #ffffff;
  }