@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway-800.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik-700.woff2") format("woff2");
    font-display: swap;
  }

  body {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    min-height: 100%;
    margin: 0 auto;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
  }

  .visually-hidden {
    display: none;
  }

  ul li {
    list-style-type: none;
    padding:  0;
   }

  .logo {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .page-header {
    background: linear-gradient(0deg, rgba(255,225,127,1) 87%,  rgba(255,255,255,1) 83%);
    padding-left: 70px;
    height: 300px;
  }
  
  .navigation-container{
    font-family: "Rubik";
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
  }

  .navigation-inner {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

   .navigation-list {
    display: flex;
    flex-wrap: wrap; 
    margin: 0;
    padding: 0;
 
   }
    
   .navigation-item {
      display: flex;
      margin-right: 60px;
      
    }

 
     
  .navigation-link {
    display: block;
    justify-content: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    text-decoration: none; 
  }

   .navigation-item:last-child {
     margin: 0;
   }


  .navigation-item:nth-child(1) {
    margin-right: 200px;
    }

    .icon-user {
      width: 13px;
      height: 13px;
  
      padding-left: 25px;
      background: url('/images/user.svg');
      background-repeat: no-repeat;
    }

  .search-form {
    display: flex;
    margin-right: 26px;
    width: 535px;
    height: 40px;
  }
   .search-form input[type=search] {
    display: flex;
    flex-direction: row;
    width: 360px;
    height: 40px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    border: 2px solid #000000;
    border-radius: 50px 0px 0px 50px;
 } 



    .search-form-input{
     background: url("../images/search.svg") no-repeat ;
     background-position: 5% 50%;
     outline: 0 !important;
  }
    
    ::placeholder {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }

    .form-button {
      display: flex;
      flex-direction: row;
      width: 160px;
      height: 40px;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      border: 2px solid #000000;
      border-left: none;
      border-radius: 0px 50px 50px 0px;
      background-color: #FFE17F;
      cursor: pointer;
    }

    
    .navigation-catalog {
      display: flex;
      margin: 0;
      padding: 0;
    }

     .catalog-item {
      margin-right: 50px;
     }

    .catalog-link {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 800;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #000000;
      text-decoration: none; 
     
    } 

    

    .catalog-item:nth-child(1) {
      margin-right: auto;
    }
      
    .sub-menu-list {
      display: none;
      margin: 0;
      padding: 0;
      margin-top: 30px;
    
    }

    

    .botton-item:focus ~ .sub-menu-list, 
    .botton-item:active ~ .sub-menu-list, 
    .sub-menu:hover 
    { 
   display: flex; 
    } 
      
    .botton-item {
    position: relative;
    appearance: none;
    width: 50px;
    height: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    background: none;
    opacity: 0.3;
    }

    .botton-item::after,
    .botton-item::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     height: 2px;
     background-color: #000000;
     transform: translate(-50%);
    }

     .bottom-.botton-item::before {
      transform: translate(-50%) rotate(90deg);
     }


    .sub-menu-link {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #000000;
      text-decoration: none; 
      margin-right: 30px;
    }

    .sub-sub-menu-item {
      margin-top: 10px;
      margin-bottom: 10px;
    }

   .sub-sub-menu-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-decoration: none; 
    
   }
     
   .sub-sub-menu-list {
    padding: 0;
   }

   .index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    position: relative;
  }
  
  .index-columns::after {

  }
  
  .index-columns:first-of-type::after {
    left: 470px;
  }
  
  .index-columns:last-of-type::after {
    left: 430px;
  }
  
  .index-columns:last-child {
    margin-bottom: 0;
  }
  
  /* Services */
  
  .services {
    width: 550px;
    
  }
  
  /* Title */
  .slider-title {
    width: 545px;
    margin-top: 0;
    margin-bottom: 28px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
  }

  .slider-description {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .slider-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  /* Price */
  .services-list {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    list-style-type: none;
  }
  
  /* Item */
  .services-item {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 22px;
  }
  
  .services-item::before {
    flex-grow: 1;
    order: 2;
    margin-right: 16px;
    margin-left: 16px;
    border-bottom: 2px dotted rgba(89, 89, 89, 0.5);
    content: "";
  }
  
  
  .slider {
    width: 560px;
  }
  
  
  
  .slider-image {
    display: block;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-image {
    display: block;
  }
  
  .slider-controls {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
  }
  
  .slider-button {
    width: 48px;
    height: 60px;
    color: #ffffff;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    background-image: url("/images/slider_botton.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slider-button:hover {
   
  }
  
  .slider-button:focus {
  
  }
  
  .slider-prev {
    transform: rotate(180deg);
  }
  
  .slider-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .slider-pagination-item {
    margin: 0 4px;
  }
  
  .slider-pagination-button {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-pagination-button:hover {
    background-color: #000000;
  }
  
  .slider-pagination-button:focus {
    background-color: #000000;
    outline: none;
  }
  
  .slider-pagination-button-current {
    background-color: #000000;
  } 

    
  .table-slider {
    width: 400px;
  }

    .main-container {
      flex-grow: 1;
  }

  .page-catalog {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    font-weight: 800;
    letter-spacing: 0.2em;
    text-transform: uppercase;

  }
 

  .table-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
  }

  .table-description {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
    background-color: #ffffff;
  }


  .advantages-list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
  
  }

  .delivery-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
  }

   .contacts-block {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
   }

  .about-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #ffffff;
  }

  .contact-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #ffffff;
  }


  .about-list {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
  }

  .contact-subtitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
  }

  .subscription-index {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
   }



  .subscription-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    background-color: #ffffff;

  }


  .more-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #ffffff;
    
  }

  .more-box {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }


  .catalog-button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
  }

  .catalog-menu-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    
  }

   .page-footer {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color:#ffffff;
   background-color: #444444;
}


   .footer-list {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 21px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color:#ffffff;
   background-color: #444444;
}

    .filtet-color-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    }

    .filtet-color {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #000000;
   background-color: #ffffff;
}

   
   .filtet-bluetooth-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
   }

  .filtet-bluetooth {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #ffffff;
  }